<p>Please Enter your numbers:</p>
<div class="container">
  <div class="row">
    <div class="col-2">
        <label for="firstNumber">First Number: </label>
    </div>
    <div class="col-2">
        <input type="number" class="form-control form-control-sm" name="firstNumber" id="firstNumber"/>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
        <label for="secondNumber">Second Number: </label>
    </div>
    <div class="col-2">
        <input type="number" class="form-control form-control-sm" name="secondNumber" id="secondNumber"/>
    </div>
  </div>
</div>
<br/>
<button type="button" class="btn btn-primary btn-sm" id="btnCalculate">Calculate</button>
<button type="button" class="btn btn-primary btn-sm" id="btnReset">Reset</button>
<br/>
<hr/>
<br/>
<p><label id="lblResult"></label></p>